<div class="about-container row">
  <div class="qualification-container col-3">
    <img
      class="faceImg img-fluid"
      [src]= "face"
      alt="Imagen de perfil"
      width="250"
    />
    <h1 class="name text-center">Josu Adan Legarra</h1>
    <p class="qualification text-center">Front-End Developer</p>
  </div>
  <div class="text-about col-9">
    <h3 class="section-title">About me</h3>
    <p class="about-description text-justify">Passionate about research, sports, and software development. Interested in expanding my knowledge about coding.</p>
  </div>
</div>
